body {
    background-color: #f0f8ff;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1, h3 {
    color: #343a40;
  }
  .border {
    background-color: white;
  }
  .card {
    min-height: 144px; 
  }